* {
  font-weight: 300;
}

#navItems > ul:nth-child(1) > li > strong {
  font-size: 1.25rem;
}

#search {
  border-radius: 10px;
  height: 35px;

  font-size: 1rem;
}

#location {
  font-size: 2rem;
}

#navItems > ul:nth-child(3) > li > a:target {
  color: red;
}

#navItems > ul:nth-child(1) > li > h3,
#dateForecast,
#tempForecast,
#minmaxForecast,
#dayForecast,
#dayForecast > table,
body > main > div:nth-child(1) > p,
body > main > div > h1,
body > article {
  margin: 0;
}

body > article {
  padding: 0;
}

#dayForecast {
  align-self: center;
  padding: 0 4rem;
  text-align: center;
  width: 70%;
}

#dayForecast > table > caption {
  text-align: start;
  font-size: medium;
  font-weight: 400;
  text-decoration-line: underline;
  text-decoration-thickness: from-font;
  padding-bottom: 1rem;
}

#dayForecast > table > tbody > tr > td:nth-child(1) {
  font-weight: bold;
  text-align: start;
}

#dayForecast > table > tbody > tr > td:nth-child(2) {
  text-align: center;
}

#dayForecast > table > tbody > tr > td:nth-child(3) {
  text-align: end;
}

body > main > div:nth-child(1) {
  text-align: center;
}

body > main > div:nth-child(1) > h1 {
  font-size: 3rem;
}

main.container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}